doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Persist

    meta(name='application-name', content='Persist')
    meta(name='description', content='Download audio files from a vk post as a zip file.')
    meta(name='keywords', content='audio,vk,vkontakt,download,save')
    meta(property='og:title', content='Persist')
    meta(property='og:description', content='Download audio files from a vk post as a zip file.')
    meta(property='og:url', content='persist.herokuapp.com')
    meta(property='og:locale', content='en_EN')
    link(href='application.css', rel='stylesheet', type='text/css')

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
  body
    h1 Persist
    p Go to post you would like to persist. Copy the URL and past in the input.
    p For example you can save all audios from this post
      a(target='_blank', href='https://vk.com/wall-25535241_83950') https://vk.com/wall-25535241_83950
    p Finally click the Download button

    input#vk-audio-input(style="width: 250px", value="https://vk.com/wall-25535241_83950")
    button#vk-audio-download Download

    h3 Downloaded posts
      section#covers

    hr
    footer Persist is created by
      a(target='_blank', href="https://twitter.com/senior_sigan") Senior Sigan

    script(src="vk-audio.js", type="text/javascript")
